//color Very Bad Geek
$color-vbg: #8155FF;
$color-vbg--hover: #240480;
//color Pique a Cœur
$color-pac: #8155FF;
$color-pac--hover: #240480;
//color Yes We Wine
$color-yww: #8155FF;
$color-yww--hover: #240480;
//color Sensimony
$color-sen: #8155FF;
$color-sen--hover: #240480;
//color Monsieur 2CV
$color-m2c: #8155FF;
$color-m2c--hover: #240480;
//color Basic
$color-primary:#D9BBA9;
$color-primary--hover:#A67665;
$color-black: rgb(12, 12, 12);
$color-background: #ffffff;