h1{
    font-family: 'HagridText-Regular', sans-serif;
    font-size: 2em;
    line-height: 4.2vh;
    font-weight: normal;
    color:$color-black;
    text-decoration: none;
}
h2{
    font-family: 'HagridText-Regular', sans-serif;
    font-size: 1.5em;
    line-height: 4.2vh;
    font-weight: normal;
    color:$color-black;
    text-decoration: none;
}
h3{
    font-family: 'HagridText-Regular', sans-serif;
    font-size: 1.17em;
    line-height: 4.2vh;
    font-weight: normal;
    color:$color-black;
    text-decoration: none;
}
h4{
    font-family: 'Muli', sans-serif;
    font-size: 1.17em;
    line-height: 4.2vh;
    font-weight: 800;
    color:$color-black;
    text-decoration: none;
}
a{
    font-family: 'HagridText-Regular', sans-serif;
    font-size:1.5em;
    line-height: 4.2vh;
    font-weight: normal;
    text-decoration: none;
    color: $color-black;
}
.a{
    color: $color-black;
    &--link{
        font-family: 'Muli';
        font-weight: 400;
        font-size: 1.2em;
        text-decoration:$color-primary underline;
        color:$color-primary;
        &:hover{
            text-decoration:$color-primary--hover underline;
            color:$color-primary--hover;
        }
    }
    &--heading{
        font-family: 'Muli';
        font-weight: 900;
        font-size: 2.8em;
        line-height: 40px;
    }
    &--btn{
        font-family: 'Muli';
        font-weight: 400;
        font-size: 1.2em;
        background-color:#D9BBA9;
        padding: 18px 32px;
        border-radius: 50px;
    }
}
p {
    font-family: 'Muli', sans-serif;
    font-size: 1.2em; 
    line-height: 1.8em;
    font-weight: 400;
    color:$color-black;
    text-decoration: none;
}

.paragraph {
    font-family: 'Muli', sans-serif;
    font-size: 1.2em; 
    line-height: 1.8em;
    font-weight: 400;
    color:$color-black;
    text-decoration: none;
}
li { 
    list-style: none;
}