@import 'colors.scss';
@import 'heading.scss';


@font-face {
    font-family: 'HagridText-Regular';
    src: url('../font/HagridText-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../font/HagridText-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/HagridText-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../font/HagridText-Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background:$color-background;
}

#page {overflow: hidden;}
#page-about{overflow: auto;}
#page--scrolling{overflow: auto;}

#canvas {
    height: 100vh;
    justify-content: center;
    canvas{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: calc(100vh - 13rem);
        justify-content: flex-start;
        align-items: center;
    }
}

.blotter
{
  color:transparent;
  font-size:0px;
  text-transform: uppercase;
  //font-size: 20rem;
  //margin: 2rem
}

.m--top{margin-top: 24px;}

////////////////////
//// HOME PAGE 
////////////////////

// grid home
.navbar1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "logo works about";
    .logo {
        grid-area: logo;
        display: grid;
        justify-content: start;
        align-content: left;
    }
    
    .works {
        grid-area: works;
        display: grid;
        justify-content: center;
        align-content: left;
    }
    
    .about {
        grid-area: about;
        display: grid;
        justify-content: end;
        align-content: left;
    }
}
// grid footer
.footer {
    grid-area: footer;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "footer__lab footer__toggle footer__link";
    &__lab {
        grid-area: footer__lab;
        display: grid;
        justify-content: start;
        align-content: center;
    }
    
    &__toggle {
        grid-area: footer__toggle;
        display: grid;
        justify-content: center;
        align-content: center; 
        text-align: -webkit-center;
    }
    
    &__link {
        grid-area: footer__link;
        display: grid;
        justify-content: end;
        align-content: center;
    }
}

.blotter {
    color: transparent;
    font-size: 0px;
    text-transform: uppercase;
}

// SWITCH //
$red: #FF4651;
$green: #48EA8B;

.switch {
    cursor: pointer;
    .text{
        font-family: 'Muli', sans-serif;
        font-size:1.5em;
        line-height: 4.2vh;
        font-weight: normal;
        text-decoration: none;
        color: $color-black;
    }
    input {
        display: none;
        & + span {
            width: 48px;
            height: 24px;
            border-radius: 14px;
            transition: all .3s ease;
            display: block;
            position: relative;
            background: $green;
            box-shadow: 0 8px 16px -1px rgba($green, .2);
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                transition: all .3s ease;
            }
            &:before {
                top: 5px;
                left: 5px;
                width: 5px;
                height: 5px;
                border-radius: 9px;
                border: 5px solid #fff;
            }
            &:after {
                top: 8px;
                left: 32px;
                width: 6px;
                height: 8px;
                border-radius: 40%;
                transform-origin: 50% 50%;
                background: #fff;
                opacity: 0;
            }
            &:active {
                transform: scale(.92);
            }
        }
        &:checked {
            & + span {
                background: $red;
                box-shadow: 0 8px 16px -1px rgba($red, .2);
                &:before {
                    width: 0px;
                    border-radius: 3px;
                    margin-left: 27px;
                    border-width: 3px;
                    background: #fff;
                }
                &:after {
                    animation: blobChecked .35s linear forwards .2s;
                }
            }
        }
        &:not(:checked) {
            & + span {
                &:before {
                    animation: blob .85s linear forwards .2s;
                }
            }
        }
    }
}

@keyframes blob {
    0%, 100% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.12, .94);
    }
    60% {
        transform: scale(.96, 1.06);
    }
}

@keyframes blobChecked {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }
    30% {
        transform: scaleX(1.44);
    }
    70% {
        transform: scaleX(1.18);
    }
    50%,
    99% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

.btn {
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%);
    transition: background-position 0.3s ease-out;
}

i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.dropdown{
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg) ;
}
////////////////////
//// WORK PAGE 
////////////////////
#fullpage {
    height: 100%;
    section{
        height: 100%;
    }
}

// grid work
.wrapper {
    height: 100%;
    background-color:$color-background;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "wrapper__description wrapper__more";
}

.wrapper2 {
    height: 100%;
    background-color:$color-background;
    z-index: 1;
    padding-left: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title photo"
        "footer photo";
}

.navbar__top {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "logo works about"
}

.navbar2 {
    padding-left: 20px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "logo works about"
}

.logo {
    grid-area: logo;
    display: grid;
    justify-content: start;
    align-content: left;
}

.works {
    grid-area: works;
    display: grid;
    justify-content: space-around;
    align-content: left;
}

.works--page {
    grid-area: works;
    display: grid;
    justify-content: center;
    align-content: center;
}

.wrapper__more {
    grid-area: scrollformore;
    align-self: end;
    justify-self: end;
}

.footer__works {
    padding-bottom: 20px;
    grid-area: footer__works;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "year more";
    &--more{
        grid-area: more;
        align-self: end;
        justify-self: end;
    }
    &--year{
        grid-area: year;
        align-self: end;
        justify-self: start;
    }
}

.title {
    grid-area: title;
    padding-top: 80px;
}

.w--medium{width: 60%;}

// project image
.cover-project {
    grid-area: photo;
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: 0.5s ease-in-out;
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.1);
    img{
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
    }
    img:nth-child(1) {
        transform: translateX(50%) scaleX(2);
        opacity: 0;transition: .5s ease-in-out;
        filter: blur(16px)
    }
    img:nth-child(2) {
        transform: translateX(0) scaleX(1);
        opacity: 1;transition: .5s ease-in-out;
    }
}

.cover-project:hover{
    img:nth-child(1){
        transform: translateX(0) scaleX(1);
        opacity: 1;
        z-index: 50;
        transition: .5s ease-in-out;
        filter: blur(0);
    }
    img:nth-child(2){
        transform: translateX(-50%) scaleX(2);
        opacity: 1;
        transition: .5s ease-in-out;
        filter: blur(16px)
    }
}

.footer--more h2 img{
    width: 48px;
}
////////////////////
//// WORK SPECIFIQUE PAGE 
////////////////////

// container
.container{
    width: 100%;
    position: relative;
    top: 25%;
    .container__wrapper{
        position: absolute;
        width: 50%;
        left: 30%;
        top: 25%;
        .title{
            padding: 30%;
        }
        .button{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            flex-direction: row;
            margin:64px 0;
            a:nth-child(1){
                margin-right:24px;
                margin-bottom:24px;
            }
            a:nth-child(2){
                margin-right:24px;
                margin-bottom:24px;
            }
        }
    }
}


////////////////////
//// ABOUT PAGE 
////////////////////

// grid about
.wrapper__description {
    grid-area: wrapper__description;
    padding-top: 9vh;
    width: 50vw;

}
.wrapper__btn {
    grid-area: wrapper__btn;
    padding-top: 9vh;
    width: 50vw;
    position: absolute;
    top: 70%;
}
ul li{
    display: inline;
}
.icons{
    width: 64px;
}





////////////////////
//// RESPONISVE QUERIES 
////////////////////
@media (max-width: 1024px) {
    .content {
        display: none;
    }

    .window {
        height: 64vh;
        width: 90%;
    }

    .paragraph{
        display: none;
    }

    .wrapper {
        height: 100%;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "wrapper__description"
            "wrapper__more";
    }

    .wrapper4 {
        height: 100%;
        background-color: $color-background;
        position: sticky;
        top: 0;
        z-index: 1;
        padding-left: 20px;
        padding-right: 20px;
        grid-gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px auto auto;
        grid-template-areas:
            "anno anno"
            "exp exp"
            "feet feet";
    }

    .wrapper2 {
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "title"
            "photo"
            "footer";
    }

    .footer {
        padding-bottom: 0px;
    }

    .navbar2 {
        width: 100%;
        padding-right: 20px;
        padding-top: 20px;
    }


    .exp {
        padding-top: 0px;
    }


}

@media (max-width: 768px) {

    #fullpage {
        height: 100%;
    }

    #fullpage section {
        height: 100%;
    }

    #canvas {
        width: 80%;
        height: 100vh;
        justify-content: center;
        canvas{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100vh - 13rem);
            justify-content: flex-start;
            align-items: center;
        }
    }

    .wrapper4 {
        height: 100%;
        background-color: $color-background;
        position: sticky;
        top: 0;
        z-index: 1;
        padding-left: 20px;
        padding-right: 20px;
        grid-gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px auto auto;
        grid-template-areas:
            "anno anno"
            "exp exp"
            "feet feet";
    }

    .wrapper__description{
        width: 90vw;
    }

    .paragraph{
        display: none;
    }
    .icons{
        width: 42px;
    }
    // container
    .container{
        width: 100%;
        position: relative;
        top: 25%;
        .container__wrapper{
            position: absolute;
            width: 80%;
            left: 10%;
            top: 25%;
        }
    }
}
