h1 {
  font-family: 'HagridText-Regular', sans-serif;
  font-size: 2em;
  line-height: 4.2vh;
  font-weight: normal;
  color: #0c0c0c;
  text-decoration: none; }

h2 {
  font-family: 'HagridText-Regular', sans-serif;
  font-size: 1.5em;
  line-height: 4.2vh;
  font-weight: normal;
  color: #0c0c0c;
  text-decoration: none; }

h3 {
  font-family: 'HagridText-Regular', sans-serif;
  font-size: 1.17em;
  line-height: 4.2vh;
  font-weight: normal;
  color: #0c0c0c;
  text-decoration: none; }

h4 {
  font-family: 'Muli', sans-serif;
  font-size: 1.17em;
  line-height: 4.2vh;
  font-weight: 800;
  color: #0c0c0c;
  text-decoration: none; }

a {
  font-family: 'HagridText-Regular', sans-serif;
  font-size: 1.5em;
  line-height: 4.2vh;
  font-weight: normal;
  text-decoration: none;
  color: #0c0c0c; }

.a {
  color: #0c0c0c; }
  .a--link {
    font-family: 'Muli';
    font-weight: 400;
    font-size: 1.2em;
    -webkit-text-decoration: #D9BBA9 underline;
    text-decoration: #D9BBA9 underline;
    color: #D9BBA9; }
    .a--link:hover {
      -webkit-text-decoration: #A67665 underline;
      text-decoration: #A67665 underline;
      color: #A67665; }
  .a--heading {
    font-family: 'Muli';
    font-weight: 900;
    font-size: 2.8em;
    line-height: 40px; }
  .a--btn {
    font-family: 'Muli';
    font-weight: 400;
    font-size: 1.2em;
    background-color: #D9BBA9;
    padding: 18px 32px;
    border-radius: 50px; }

p {
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
  font-weight: 400;
  color: #0c0c0c;
  text-decoration: none; }

.paragraph {
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
  font-weight: 400;
  color: #0c0c0c;
  text-decoration: none; }

li {
  list-style: none; }

@font-face {
  font-family: 'HagridText-Regular';
  src: url("../font/HagridText-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../font/HagridText-Regular.woff2") format("woff2"), url("../font/HagridText-Regular.woff") format("woff"), url("../font/HagridText-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  background: #ffffff; }

#page {
  overflow: hidden; }

#page-about {
  overflow: auto; }

#page--scrolling {
  overflow: auto; }

#canvas {
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #canvas canvas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 13rem);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.blotter {
  color: transparent;
  font-size: 0px;
  text-transform: uppercase; }

.m--top {
  margin-top: 24px; }

.navbar1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo works about"; }
  .navbar1 .logo {
    grid-area: logo;
    display: grid;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-line-pack: left;
    align-content: left; }
  .navbar1 .works {
    grid-area: works;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: left;
    align-content: left; }
  .navbar1 .about {
    grid-area: about;
    display: grid;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -ms-flex-line-pack: left;
    align-content: left; }

.footer {
  grid-area: footer;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "footer__lab footer__toggle footer__link"; }
  .footer__lab {
    grid-area: footer__lab;
    display: grid;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-line-pack: center;
    align-content: center; }
  .footer__toggle {
    grid-area: footer__toggle;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: -webkit-center; }
  .footer__link {
    grid-area: footer__link;
    display: grid;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -ms-flex-line-pack: center;
    align-content: center; }

.blotter {
  color: transparent;
  font-size: 0px;
  text-transform: uppercase; }

.switch {
  cursor: pointer; }
  .switch .text {
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
    line-height: 4.2vh;
    font-weight: normal;
    text-decoration: none;
    color: #0c0c0c; }
  .switch input {
    display: none; }
    .switch input + span {
      width: 48px;
      height: 24px;
      border-radius: 14px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      display: block;
      position: relative;
      background: #48EA8B;
      -webkit-box-shadow: 0 8px 16px -1px rgba(72, 234, 139, 0.2);
      box-shadow: 0 8px 16px -1px rgba(72, 234, 139, 0.2); }
      .switch input + span:before, .switch input + span:after {
        content: '';
        display: block;
        position: absolute;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
      .switch input + span:before {
        top: 5px;
        left: 5px;
        width: 5px;
        height: 5px;
        border-radius: 9px;
        border: 5px solid #fff; }
      .switch input + span:after {
        top: 8px;
        left: 32px;
        width: 6px;
        height: 8px;
        border-radius: 40%;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background: #fff;
        opacity: 0; }
      .switch input + span:active {
        -webkit-transform: scale(0.92);
        -ms-transform: scale(0.92);
        transform: scale(0.92); }
    .switch input:checked + span {
      background: #FF4651;
      -webkit-box-shadow: 0 8px 16px -1px rgba(255, 70, 81, 0.2);
      box-shadow: 0 8px 16px -1px rgba(255, 70, 81, 0.2); }
      .switch input:checked + span:before {
        width: 0px;
        border-radius: 3px;
        margin-left: 27px;
        border-width: 3px;
        background: #fff; }
      .switch input:checked + span:after {
        -webkit-animation: blobChecked .35s linear forwards .2s;
        animation: blobChecked .35s linear forwards .2s; }
    .switch input:not(:checked) + span:before {
      -webkit-animation: blob .85s linear forwards .2s;
      animation: blob .85s linear forwards .2s; }

@-webkit-keyframes blob {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scale(1.12, 0.94);
    transform: scale(1.12, 0.94); }
  60% {
    -webkit-transform: scale(0.96, 1.06);
    transform: scale(0.96, 1.06); } }

@keyframes blob {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scale(1.12, 0.94);
    transform: scale(1.12, 0.94); }
  60% {
    -webkit-transform: scale(0.96, 1.06);
    transform: scale(0.96, 1.06); } }

@-webkit-keyframes blobChecked {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  30% {
    -webkit-transform: scaleX(1.44);
    transform: scaleX(1.44); }
  70% {
    -webkit-transform: scaleX(1.18);
    transform: scaleX(1.18); }
  50%,
  99% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0; } }

@keyframes blobChecked {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  30% {
    -webkit-transform: scaleX(1.44);
    transform: scaleX(1.44); }
  70% {
    -webkit-transform: scaleX(1.18);
    transform: scaleX(1.18); }
  50%,
  99% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 0; } }

.btn {
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #000));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 50%, #000 50%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 50%, #000 50%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000 50%);
  -webkit-transition: background-position 0.3s ease-out;
  -o-transition: background-position 0.3s ease-out;
  transition: background-position 0.3s ease-out; }

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

.dropdown {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

#fullpage {
  height: 100%; }
  #fullpage section {
    height: 100%; }

.wrapper {
  height: 100%;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "wrapper__description wrapper__more"; }

.wrapper2 {
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  padding-left: 20px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title photo" "footer photo"; }

.navbar__top {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo works about"; }

.navbar2 {
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo works about"; }

.logo {
  grid-area: logo;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-line-pack: left;
  align-content: left; }

.works {
  grid-area: works;
  display: grid;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: left;
  align-content: left; }

.works--page {
  grid-area: works;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.wrapper__more {
  grid-area: scrollformore;
  -ms-flex-item-align: end;
  align-self: end;
  justify-self: end; }

.footer__works {
  padding-bottom: 20px;
  grid-area: footer__works;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "year more"; }
  .footer__works--more {
    grid-area: more;
    -ms-flex-item-align: end;
    align-self: end;
    justify-self: end; }
  .footer__works--year {
    grid-area: year;
    -ms-flex-item-align: end;
    align-self: end;
    justify-self: start; }

.title {
  grid-area: title;
  padding-top: 80px; }

.w--medium {
  width: 60%; }

.cover-project {
  grid-area: photo;
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: -8px 0 8px rgba(0, 0, 0, 0.1); }
  .cover-project img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .cover-project img:nth-child(1) {
    -webkit-transform: translateX(50%) scaleX(2);
    -ms-transform: translateX(50%) scaleX(2);
    transform: translateX(50%) scaleX(2);
    opacity: 0;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-filter: blur(16px);
    filter: blur(16px); }
  .cover-project img:nth-child(2) {
    -webkit-transform: translateX(0) scaleX(1);
    -ms-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }

.cover-project:hover img:nth-child(1) {
  -webkit-transform: translateX(0) scaleX(1);
  -ms-transform: translateX(0) scaleX(1);
  transform: translateX(0) scaleX(1);
  opacity: 1;
  z-index: 50;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-filter: blur(0);
  filter: blur(0); }

.cover-project:hover img:nth-child(2) {
  -webkit-transform: translateX(-50%) scaleX(2);
  -ms-transform: translateX(-50%) scaleX(2);
  transform: translateX(-50%) scaleX(2);
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-filter: blur(16px);
  filter: blur(16px); }

.footer--more h2 img {
  width: 48px; }

.container {
  width: 100%;
  position: relative;
  top: 25%; }
  .container .container__wrapper {
    position: absolute;
    width: 50%;
    left: 30%;
    top: 25%; }
    .container .container__wrapper .title {
      padding: 30%; }
    .container .container__wrapper .button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 64px 0; }
      .container .container__wrapper .button a:nth-child(1) {
        margin-right: 24px;
        margin-bottom: 24px; }
      .container .container__wrapper .button a:nth-child(2) {
        margin-right: 24px;
        margin-bottom: 24px; }

.wrapper__description {
  grid-area: wrapper__description;
  padding-top: 9vh;
  width: 50vw; }

.wrapper__btn {
  grid-area: wrapper__btn;
  padding-top: 9vh;
  width: 50vw;
  position: absolute;
  top: 70%; }

ul li {
  display: inline; }

.icons {
  width: 64px; }

@media (max-width: 1024px) {
  .content {
    display: none; }
  .window {
    height: 64vh;
    width: 90%; }
  .paragraph {
    display: none; }
  .wrapper {
    height: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "wrapper__description" "wrapper__more"; }
  .wrapper4 {
    height: 100%;
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px auto auto;
    grid-template-areas: "anno anno" "exp exp" "feet feet"; }
  .wrapper2 {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "title" "photo" "footer"; }
  .footer {
    padding-bottom: 0px; }
  .navbar2 {
    width: 100%;
    padding-right: 20px;
    padding-top: 20px; }
  .exp {
    padding-top: 0px; } }

@media (max-width: 768px) {
  #fullpage {
    height: 100%; }
  #fullpage section {
    height: 100%; }
  #canvas {
    width: 80%;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #canvas canvas {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      height: calc(100vh - 13rem);
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .wrapper4 {
    height: 100%;
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px auto auto;
    grid-template-areas: "anno anno" "exp exp" "feet feet"; }
  .wrapper__description {
    width: 90vw; }
  .paragraph {
    display: none; }
  .icons {
    width: 42px; }
  .container {
    width: 100%;
    position: relative;
    top: 25%; }
    .container .container__wrapper {
      position: absolute;
      width: 80%;
      left: 10%;
      top: 25%; } }
